---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<!--
<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-4) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
-->



<!-- Hero -->
<section id="home_1" class=" --hm_hero_1" style="background-image: url('/img/hm-hero-img.png');">
	<div class="container">
		
		<!-- Hero Copy -->
		<div class="copy">

			<h1 class="headline">
				The Holy Mountain
			</h1>
			<h2 class="subhead">
				Frontend Framework
			</h2>
			<p class="body">
				The philosophy behind the Holy Mountain framework is simple: everything should be straightforward, easy to understand, and easy to use. Or in the words of William S. Buroughs: "Do Easy".  Before you do something, simply take a moment to work out the easiest, most direct way to do said thing.  The result is code that you can easily build on top of, while having the framework take care of most of your basic frontend needs.
			</p>

		</div>
		
	</div>
</section>
<!-- End Hero -->

<!-- Section -->
<section class="--hm_section_1">
	<div class="container">

		<div class="--hm_content_1">
			<p class="heading">Overview</p>
			<p class="copy">
				The Holy Mountain Frontend Framework is built with Frontend Devs in mind.  It's meant to be an easy to use starting point for building sites, while providing you with a plethora of features and layouts that are commonly used.  It's also designed to easily sit on top of other, existing sites and frameworks, which can quickly bring old sites up to speed with modern standards and give you new tools to work with.
				<br/><br/>
				Holy Mountain's starter project, the thing you're looking at right now, is meant to be unopinionated and easy to customize.  Just like you, we hate clearing out a bunch of code that we don't want or need, so we try to keep things as clean and lightwieght as possible.  We're only using a handful of colors, the fonts are mostly generic (besides our personal favorite, Computerfont),  and the filler content we're using doubles as documentation.  It provides an easy reference to copy and paste code from
			</p>
		</div>
		
		<div class="--hm_template_7" >
				
				<div class="cell_wrapper">
					<div class="cell">
						<ul class="--hm_custom_list">
							<li>Responsive Code</li>
							<li>CSS3 Variables</li>
							<li>FlexBox</li>
							<li>CSS Grid Elements (coming soon)</li>
						</ul>
					</div>
				</div>

				<div class="cell_wrapper">
					<div class="cell">
						<ul class="--hm_custom_list">
							<li>Easy-to-read code formatting</li>
							<li>Emphasis on comments and documentation</li>
							<li>Multiple role specific CSS and JS files</li>
						</ul>
					</div>
				</div>

				<div class="cell_wrapper">
					<div class="cell">
						<ul class="--hm_custom_list">
							<li>Prebuilt elements</li>
							<li>Emphasis on using classes, not tag names.</li>
							<li>test</li>
						</ul>
					</div>
				</div>

		</div>

	</div>
</section>
<!-- End Section -->


<!-- Section -->
<section >
	
	<div class="--hm_template_1" >
		
		<div class="static_size" style="background-image: url('/img/hm-hero-img.png');">
			<!-- Comment out .inner element when you don't need it -->
			<!--
			<div class="inner">
				
			</div>
			-->
		</div>
		
		<div class="dynamic_size">
			<div class="inner">
				<h2 class="headline">
					.--hm_template_1
				</h2>
				<p class="body">
					This template element is your standard 2 div side-by-side layout, but with a few twists.
					<br/><br/>
 					Like all Holy Mountain Framework elements, it's been built with responsivity and developer ease of use in mind.
				</p>
			</div>
		</div>

	</div>



	<div class="--hm_template_1">
		
		
		
		<div class="dynamic_size">
			<div class="inner">
				<h2 class="headline">
					.--hm_template_1
				</h2>
				<p class="body">
					This element is built on 3 main CSS concepts:
					<ul class="--hm_custom_list">
						<li>
							Flexbox - to control the inner and outer layouts and keep both columns the same height while horizontal. 
						</li>
						<li>
							CSS Variables - this is used to control set the value of the static  side, while simultaniously updating that number across your code.  Plus, these variables can be set inline, as they respect normal CSS inheritance. 
						</li>
						<li>
							Calc() - the calc() function allows us to use the following code snippet: <span style="background: var(--black_1); color:var(--white_1";>width: calc(100% - var(--static_width));</span>.  This simple line of basic math gives you a seemless, dynamically-sized div to sit next to the fixed-sized element. 
						</li>
					</ul>
					<br/><br/>
					This copy of the hm_template_1 element has it's left/right styling handled by the main class - no extra CSS for reordering the contents.  It is, however, using the .mobile_reverse class to flip the contents when the responsive code kicks in.
				</p>
			</div>
		</div>

		<div class="static_size" style="background-image: url('/img/hm-hero-img.png');">
			<div class="inner">
				<h2 class="headline">
					.--hm_template_1 - Static Side
				</h2>
				<p class="body">
					You can have content in either side of this template element.  In fact, besides the width attributes, both sides are set up largely the same.  Feel free to set color or image backgrounds in either div.
				</p>
			</div>
		</div>

	</div>

</section>
<!-- End Section -->




<!-- Section -->
<section id="">
	<div class="--hm_template_2">

		<div class="headline container">
			<h3>Template 2 Element</h3>
		</div>

		<div class="content container">
			
			<div class="cell_wrapper">
				<div class="cell">
					<p class="headline">Template 2 Card</p>
					<p class="body">
						The cell layouts are handled by flexbox, and are set up by default to always keep the headline justified to the top, and they have a 100px space at the bottom that is a safe zone for the CTA to sit.  
					</p>
					<div class="cta">
						<a class="--hm_button_1"  href="#" aria-label="Call to Action">CTA</a>
					</div>
					
				</div>
			</div>

			<div class="cell_wrapper">
				<div class="cell">
					<p class="headline">Template 2 Card</p>
					<p class="body">
						These cells adapt to any amount of copy while keeping all cards at the same height, without the need to set an explicit height.  This makes for a very easy and smooth dev experience. 
					</p>
					<div class="cta">
						<a class="--hm_button_1" href="#" aria-label="Call to Action">CTA</a>
					</div>
					
				</div>
			</div>

			<div class="cell_wrapper">
				<div class="cell">
					<p class="headline">Template 2 Card</p>
					<p class="body">
						Looking at the code, you should notice that we're not using the traditional Bootstrap style layout of using card elements with margins used for spacing them out.  Instead, we're using a layout that uses classes called .cell_wrapper and .cell.  
					</p>
					<div class="cta">
						<a class="--hm_button_1" href="#" aria-label="Call to Action">CTA</a>
					</div>
					
				</div>
			</div>

			<div class="cell_wrapper">
				<div class="cell">
					<p class="headline">Template 2 Card</p>
					<p class="body">
						This cell-style layout allows for a much cleaner, easier to use, and easier to understand setup.  The .cell_wrapper classes fit together seamlessly to set your columns, then use internal padding to control the spacing of the .cell elements, which contain the actual content.
					</p>
					<div class="cta">
						<a class="--hm_button_1"  href="https://google.com"  aria-label="Call to Action">CTA</a>
					</div>
					
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Section -->


<!-- Section -->
<section id="">
	<div class="--hm_template_2">

		<div class="headline container">
			<h3 data-tooltip="It's a joke about German electronic music pioneers Kraftwerk">Das Modal</h3>
		</div>

		<div class="content container">
			
			<div class="cell_wrapper">
				<div class="cell">
					<div class="headline">
						<p>Standard Modal</p>
					</div>
					<div class="body">
						<p>
							Standard Modals are called by clicking on an element with the .modal_open class.  The specific modal that is called is controlled by setting the data-modal attribute.  Treat this value as a unique ID.  The background overlay is independent of the modals themselves.
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_1 modal_open" data-modal="thank_you" aria-label="Modal Open" >Standard Modal</a>
					</div>
					
				</div>
			</div>

			<div class="cell_wrapper">
				<div class="cell">
					<div class="headline">
						<p>Video Modal</p>
					</div>
					<div class="body">
						<p>
							The Video Modal is always the same element, but the video is controlled by setting the data-video-id attribute on the button.  Just paste in the ID of the YouTube video you want to show (only the ID, the 'v=' value), and the JS code will swap in that video.
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_1 video_modal_open" data-video-id="iYYRH4apXDo" aria-label="Video Modal Open">Video Modal</a>
					</div>
					
				</div>
			</div>

			<div class="cell_wrapper">
				<div class="cell">
					<div class="headline">
						<p>Form Modal</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_1 modal_open" data-modal="form" aria-label="Form Modal Open">Form Modal</a>
					</div>
					
				</div>
			</div>

			<div class="cell_wrapper">
				<div class="cell">
					<div class="headline">
						<p>Offsite Modal</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
					<div class="cta">
						<a href="https://css-tricks.com/" class="--hm_button_1 modal_open" data-modal="offsite" aria-label="Form Modal Open">Offsite Modal</a>
					</div>
					
				</div>
			</div>

			<!--<div class="cell">
				<div class="card">
					<div class="headline">
						<p>Launch Checklist Modal</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
					<div class="cta">
						<a  class="--hm_button_1 modal_open" data-modal="launch_checklist" aria-label="Form Modal Open">Launch Checklist Modal</a>
					</div>
					
				</div>
			</div>-->

		</div>
	</div>
</section>
<!-- End Section -->



<!-- Section -->
<section id="">
	<div class="--hm_template_3">
		<div class="headline container">
			<h3>Template 3: Grid</h3>
		</div>
		<div class="content container">
			
			
			<div class="cell">
				<div class="card">
					<div class="headline">
						<p>Grid Card</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_1" aria-label="Call to Action">CTA</a>
					</div>
					
				</div>
			</div>
			
			


	</div>
</section>
<!-- End Section -->

<!-- Section -->
<section id="">
	
	<div class="--hm_template_6 container">
		<div class="container">
			<div class="headline ">
				<h3 >Sliders: Swiper JS</h3>
			</div>
		</div>
		
		<div class="content ">
			
			<!-- Slider main container -->
			<div class="--hm_swiper_1" data-slider="home_slider_1">
			    <!-- Additional required wrapper -->
			    <div class="swiper-wrapper">
			        <!-- Slides -->
			        <div class="swiper-slide">
			        	<div class="card">
							<div class="image" style="background-image: url('/img/hm-hero-img.png');"></div>

							<div class="copy">
								<div class="inner">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								
							</div>
			        	</div>
			        </div>
			        
			        <div class="swiper-slide">
			        	<div class="card">
							<div class="image" style="background-image: url('/img/hm-hero-img.png');"></div>

							<div class="copy">
								<div class="inner">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								
							</div>
			        	</div>
			        </div>

			        <div class="swiper-slide">
			        	<div class="card">
							<div class="image" style="background-image: url('/img/hm-hero-img.png');"></div>

							<div class="copy">
								<div class="inner">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								
							</div>
			        	</div>
			        </div>
			    </div>
			    <!-- If we need pagination -->
			    <div class="swiper-pagination"></div>

			    <!-- If we need navigation buttons -->
			    <div class="swiper-button-prev"></div>
			    <div class="swiper-button-next"></div>

			    
			</div>

		</div>
			
	</div>
</section>
<!-- End Section -->



<!-- Section -->
<section id="">
	
	<div class="--hm_template_1">
		
		<div class="dynamic_size" style="background-image: url('/img/hm-hero-img.png');"></div>
		
		<div class="static_size">
			<div class="inner">

				<h2>
					Template Form
				</h2>

				<p>This is a basic form that can be copied and re-styled.  It is using 3 custom form elements, as well, which are alternative versions to common form elements to allow for far more styling options than their traditional versions. Right now, we have custom select boxes, radio buttons, and checkboxes. They're all built using FontAwesome to control the glyphs in the form elements.</p>
				
				{% include "forms/contact_custom_inputs.njk" %}

			</div>
		</div>

	</div>

</section>
<!-- End Section -->


<!-- Section -->
<section id="">
	<div class="--hm_template_2">

		<div class="headline container">
			<h3>Menu - 3D Body Animations</h3>
		</div>

		<div class="content container">
			
			<div class="cell_wrapper">
				<div class="cell">
					<p class="headline">3D Body Animations</p>
					<p class="body">
						These are modified versions of the sidebar menu button in the nav ( <i class="fas fa-bars"></i> ).  They apply an additional class the the body wrapper element, set by a data-attribute on the button.  This animates the inner content on the site.
					</p>
					<div class="cta">
						<a class="--hm_button_1 nav_button" aria-label="body_transform_1" data-body-transform="body_transform_1">body_transform_1</a>
					</div>
					
				</div>
			</div>

			<div class="cell_wrapper">
				<div class="cell">
					<p class="headline">3D Body Animations</p>
					<p class="body">
						Keeping the inner body content wrapped inside a div allows it to be manipulated without moving the surrounding elements, such as sidebars, modals, notices, headers, etc.
					</p>
					<div class="cta">
						<a class="--hm_button_1 nav_button" aria-label="body_transform_2" data-body-transform="body_transform_2">body_transform_2</a>
					</div>
					
				</div>
			</div>

			<div class="cell_wrapper">
				<div class="cell">
					<p class="headline">3D Body Animations</p>
					<p class="body">
						To apply this effect, simply add a data-attribute named 'data-body-transform' with a value of the animation you'd like to use.  The JS code is already set up to dynamically apply it.
					</p>
					<div class="cta">
						<a class="--hm_button_1 nav_button" aria-label="body_transform_3" data-body-transform="body_transform_3">body_transform_3</a>
					</div>
					
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Section -->


<!-- Section -->
<section id="home_8">
	<div class="--hm_template_3">
		<div class="headline container">
			<h3 data-tooltip="Work In Progress">Element: Buttons</h3>
		</div>
		<div class="content container">
			
			
			<div class="cell">
				<div class="card">
					<div class="headline">
						<p>Color Change</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_1" aria-label="Call to Action">CTA</a>
					</div>
					
				</div>
			</div>

			<div class="cell">
				<div class="card">
					<div class="headline">
						<p>3D</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_2" aria-label="Call to Action">CTA</a>
					</div>
					
				</div>
			</div>

			<div class="cell">
				<div class="card">
					<div class="headline">
						<p>Icon</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_3" aria-label="Call to Action">CTA <i class="fas fa-chevron-right"></i></a>
					</div>
					
				</div>
			</div>

			<div class="cell">
				<div class="card">
					<div class="headline">
						<p>Border Change</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_4" aria-label="Call to Action">CTA </a>
					</div>
					
				</div>
			</div>
			
			


	</div>
</section>
<!-- End Section -->




<!-- Section -->
<section id="home_9">
	
	<div class="--hm_template_1">
		
		<div class="dynamic_size" style="background-image: url('/img/hm-hero-img.png');"></div>
		
		<div class="static_size">
			<div class="inner">
				<h2>
					Dynamic Placeholder Images
				</h2>
				<p>
					Many of the placeholder images on this site are handled by Unsplash Source, which allows you to pull in images at whatever size you'd like, with various settings to allow you to pull images from different categories, users, tags, etc.
					<br/><br/>
					Examples:
				</p>

				<ul class="--hm_custom_list">
					<li>https://source.unsplash.com/1000x1000/?code</li>
					<li>https://source.unsplash.com/500x500/?dog</li>
					<li>https://source.unsplash.com/1920x600/?nature</li>
				</ul>
				<br/>
				<p>
					Using these URLs to reference images will load up a random image matching the search and size parameters you set..
					<br/><br/>
					<a href="https://source.unsplash.com/" target="_blank" aria-label="Unsplash Source Link">https://source.unsplash.com/</a>
				</p>
			</div>
		</div>

	</div>

</section>
<!-- End Section -->



<!-- Section -->
<section id="home_10">
	
	<div class="--hm_template_4 container">
		
		<div class="cell">
			<div class="inner">
				<h2>
					ADA Compliance
				</h2>
				<p>Here's 2 forms, the Contact form from earlier, and a modified copy of it with no ADA compliance. With our ADA Compliance plugin, elements that fail to pass ADA are boldly highlighted in red so you can easily identify and take care of them. </p>
				
				<!-- 11ty form call -->
				{% include "forms/contact.njk" %}
			</div>
		</div>
		
		<div class="cell">
			<div class="inner">
				<h2>
					No ADA Compliance
				</h2>
				<p>Because it highlights the error so boldly, it will help keep ADA in the front of your mind. Simply fix the ADA issue, and then the error styling goes away. This plugin is only loaded in a staging environment, so it won't affect live sites, and nothing has to be updated to turn it off.</p>
				
				<!-- 11ty form call -->
				{% include "forms/contact_no_ada.njk" %}
			</div>
		</div>

	</div>

</section>
<!-- End Section -->



<!-- Section -->
<section id="home_11">
	
	<div class="--hm_template_5">
		
		<div class="headline container">
			<h3 data-tooltip="Work In Progress">Element: Accordian</h3>
		</div>

		<!-- Content -->
		<div class="content container">
			
			<div class="cell">
				<div class="label">
					<div class="icon">
						<i class="fas fa-plus open"></i>
						<i class="fas fa-minus close"></i>
					</div>
					<p class="title">Lorum Ipsum</p>
				</div>

				<div class="copy">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>

			<div class="cell">
				<div class="label">
					<div class="icon">
						<i class="fas fa-plus open"></i>
						<i class="fas fa-minus close"></i>
					</div>
					<p class="title">Lorum Ipsum</p>
				</div>

				<div class="copy">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>

			<div class="cell">
				<div class="label">
					<div class="icon">
						<i class="fas fa-plus open"></i>
						<i class="fas fa-minus close"></i>
					</div>
					<p class="title">Lorum Ipsum</p>
				</div>

				<div class="copy">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>

			<div class="cell">
				<div class="label">
					<div class="icon">
						<i class="fas fa-plus open"></i>
						<i class="fas fa-minus close"></i>
					</div>
					<p class="title">Lorum Ipsum</p>
				</div>

				<div class="copy">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>

		</div>
		<!-- End Content -->

	</div>

</section>
<!--End Section -->




<!-- Section -->
<section id="home_12">
	<div class="--hm_template_3">
		
		<div class="headline container">
			<h3 data-tooltip="Work In Progress">GA Events</h3>
		</div>

		<!-- Content -->
		<div class="content container">
			
			<!-- Cell -->
			<div class="cell">
				<div class="card">
					<div class="headline">
						<p>GA Event</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_2" aria-label="Call to Action" href="https://css-tricks.com/" data-event="GAEvent" data-category="Home" data-label="CTA-Offsite" data-action="Click" data-value="undefined">CTA</a>
					</div>
					
				</div>
			</div>
			<!-- End Cell -->

			<!-- Cell -->
			<div class="cell">
				<div class="card">
					<div class="headline">
						<p>GA Event</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_2" aria-label="Call to Action" href="https://css-tricks.com/" data-event="GAEvent" data-category="Home" data-label="" data-action="Click" data-value="undefined">CTA</a>
					</div>
					
				</div>
			</div>
			<!-- End Cell -->

			<!-- Cell -->
			<div class="cell">
				<div class="card">
					<div class="headline">
						<p>GA Event</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_2" aria-label="Call to Action" href="" data-event="GAEvent" data-category="Home" data-label="CTA-Offsite" data-action="click" data-value="undefined">CTA</a>
					</div>
					
				</div>
			</div>
			<!-- End Cell -->

			<!-- Cell -->
			<div class="cell">
				<div class="card">
					<div class="headline">
						<p>GA Event</p>
					</div>
					<div class="body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
					<div class="cta">
						<a class="--hm_button_2" aria-label="Call to Action" href="https://css-tricks.com/" data-event="GAEvent" data-category="Home" data-label="CTA-Offsite" data-action="Click" data-value="undefined">CTA</a>
					</div>
					
				</div>
			</div>
			<!-- End Cell -->
		
	</div>
	<!-- End Content -->


</section>
<!-- End Section -->
