<div class="modal" data-modal="offsite">
	<div class="modal_close main">
		<i class="fas fa-times"></i>
	</div>
	
	<div class="copy">
		<p class="headline">Offsite Link Notice</p>
		<p class="body">The link you just clicked is about to send you to a different website.  You probably already knew that, but we just wanted to make sure you were cool with it.  We're gonna open it in a new tab for you, too, so you don't lose your place here on our site.</p>
	</div>
	<div class="cta">
		<a class="--hm_button_1 offsite_send_cta" target="_blank" aria-label="Continue Offsite">Continue</a>
	</div>
</div>