<nav id="nav_mobile" class="nav">
	<div class="container">
		<a class="logo" href="/" aria-label="Home">
			<img src="/img/hm-logo-nav.png" alt="Logo" />
		</a>
		
		<div class="links">
			<div class="inner nav_button" aria-label="Nav Open">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</div>
</nav>